.select{
    background-color: black ;
    color: aqua;
}
.wrong{
    background-color: brown;
    color: cadetblue;
}

.progress-bar{
    width: 0%;
    height: 5px;
}
.progress-bar .active{
    animation: progress 10s linear forwards;
}
@keyframes progress{
    0%{
        width: 0%;
        background: #555;
    }
    79% {
        width: 79%;
        background: #555;
    }
    80% {
        width:80%;
        background: orangered;
    }
    100% {
        width: 100%;
        background: orangered;
    }
}